body {
    margin: 5%;
}
.bible td {
    vertical-align: top;
    padding: 3px;
}
.jesus_say {
    color: crimson;
}
.question {
    color: crimson;
    font-size: 105%;
}
.noIndent {
    text-indent: 0%;
    padding-left: 5%;
}
p {
    text-indent: 5%;
}